<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpeedLog - Create Account</title>
</head>
<body>
    <form action="/createacct" method="post">
        <label for="password">Username:</label>
        <br>
        <input type="text" name="username" id="username">
        <br>
        <label for="password">Password:</label>
        <br>
        <input type="password" name="password" id="password">
        <br>
        <label for="password">Password:</label>
        <br>
        <input type="password" name="password" id="password">
        <br>
        <button type="submit">Create Account</button>
    </form>
</body>
</html>