<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpeedLog</title>
    <style>
        * {
            font-family: sans-serif;
        }
        .flexrow {
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 100%;
        }
        .flexrowitem {
            flex-grow: 1;
            padding: 1vmin;
            max-width: 12vw;
            margin: 1vmin;
        }
        .flexrowitemfull {
            flex-grow: 1;
            padding: 1vmin;
            margin: 1vmin;
        }
        .singledisplay {
            text-align: center;
            height: 12vw;
            width: 100%;
            font-size: 12vw;
        }
        .singledisplaysmall {
            text-align: center;
            height: 12vw;
            width: 100%;
            font-size: 2vw;
        }
        .pad {
            flex-grow: 100;
        }
        .phonetic {
            display: inline-block;
            font-size: 3vw;
            padding: 1vmin;
            width: 100%;
            text-align: center;
        }
        #date {
            font-size: larger;
        }
    </style>
</head>
<body>
    <h2>Callsign (type to enter):</h2>
    <div class="flexrow">
        <div class="pad"></div>
        <div class="flexrowitem" id="csfocus">
            <div class="singledisplay">></div>
        </div>
        <div class="flexrowitem">
            <div class="singledisplay" id="display1">_</div>
            <span class="phonetic" id="phonetic1">-</span>
        </div>
        <div class="flexrowitem">
            <div class="singledisplay" id="display2">_</div>
            <span class="phonetic" id="phonetic2">-</span>
        </div>
        <div class="flexrowitem">
            <div class="singledisplay" id="display3">_</div>
            <span class="phonetic" id="phonetic3">-</span>
        </div>
        <div class="flexrowitem">
            <div class="singledisplay" id="display4">_</div>
            <span class="phonetic" id="phonetic4">-</span>
        </div>
        <div class="flexrowitem">
            <div class="singledisplay" id="display5">_</div>
            <span class="phonetic" id="phonetic5">-</span>
        </div>
        <div class="flexrowitem">
            <div class="singledisplay" id="display6">_</div>
            <span class="phonetic" id="phonetic6">-</span>
        </div>
        <div class="pad"></div>
    </div>
    <h2>Frequency (type to enter):</h2>
    <div class="flexrow">
        <div class="pad"></div>
        <div class="flexrowitem" id="frqfocus">
            <div class="singledisplaysmall">TAB to move focus forward, ENTER to finish field</div>
        </div>
        <div class="flexrowitem">
            <div class="singledisplay" id="frqdisplay1">_</div>
        </div>
        <div class="flexrowitem">
            <div class="singledisplay" id="frqdisplay2">_</div>
        </div>
        <div class="flexrowitem">
            <div class="singledisplay" id="frqdisplay3">_</div>
        </div>
        <div class="flexrowitem">
            <div class="singledisplay">.</div>
        </div>
        <div class="flexrowitem">
            <div class="singledisplay" id="frqdisplay4">_</div>
        </div>
        <div class="flexrowitem">
            <div class="singledisplay" id="frqdisplay5">_</div>
        </div>
        <div class="flexrowitem">
            <div class="singledisplay" id="frqdisplay6">_</div>
        </div>
        <div class="flexrowitem">
            <label for="mhz">MHz</label>
            <input type="checkbox" name="mhz" id="mhz" checked>
            <label for="khz">kHz</label>
            <input type="checkbox" name="khz" id="khz">
        </div>
        <div class="pad"></div>
    </div>
    <h2>Date:</h2>
    <div class="flexrow">
        <input class="flexrowitemfull" type="datetime-local" name="date" id="date" onchange="autosetdate=false">
    </div>
    <h2>Notes:</h2>
    <div class="flexrow">
        <textarea name="notes" id="notes" class="flexrowitemfull"></textarea>
    </div>
    <script>
        phonetic = {
            "A": "Alpha",
            "B": "Bravo",
            "C": "Charlie",
            "D": "Delta",
            "E": "Echo",
            "F": "Foxtrot",
            "G": "Golf",
            "H": "Hotel",
            "I": "India",
            "J": "Juliet",
            "K": "Kilo",
            "L": "Lima",
            "M": "Mike",
            "N": "November",
            "O": "Oscar",
            "P": "Papa",
            "Q": "Quebec",
            "R": "Romeo",
            "S": "Sierra",
            "T": "Tango",
            "U": "Uniform",
            "V": "Victor",
            "W": "Whiskey",
            "X": "X-ray",
            "Y": "Yankee",
            "Z": "Zulu",
            "1": "One",
            "2": "Two",
            "3": "Three",
            "4": "Four",
            "5": "Five",
            "6": "Six",
            "7": "Seven",
            "8": "Eight",
            "9": "Nine",
            "0": "Zero"
        }

        function $(id){
            return document.getElementById(id)
        }

        focusindex = 0
        csindex = 1
        frqindex = 1
        shift = false
        autosetdate = true

        document.addEventListener("keydown", onkeydown)
        document.addEventListener("keyup", onkeyup)
        function onkeydown(e){
            // TODO: figure oout how to check if a element is focused
            if($("date").style.borderColor == "blue" || $("notes").style.borderColor == "blue"){
                return
            }
            if(autosetdate){
                document.getElementById("date").valueAsDate = new Date()
            }
            key = e.key
            if(key == "SHIFT"){
                shift = true
            }else if(focusindex == 0){
                cskeyevent(e)
            }else if(focusindex == 1){
                frqkeyevent(e)
            }
        }
        function onkeyup(e){
            if(e.key == "Shift"){
                shift = false
            }
        }
        function cskeyevent(e){
            key = e.key
            console.log(key)
            key = key.toLocaleUpperCase()
            console.log(key)
            console.log(key.charCodeAt(), key.length, key.length == 1)
            if(((65 <= key.charCodeAt(0) && key.charCodeAt(0) <= 90) || (48 <= key.charCodeAt(0) && key.charCodeAt(0) <= 57)) && csindex <= 6 && key.length == 1){
                $("display" + csindex).innerHTML = key
                $("phonetic" + csindex).innerHTML = phonetic[key]
                csindex += 1
            }else if(key == "BACKSPACE" && csindex > 1) {
                $("display" + (csindex-1)).innerHTML = "_"
                $("phonetic" + (csindex-1)).innerHTML = "-"
                csindex -= 1
            }else if(key == "ENTER"){
                incrementfocus()
            }else{
                return
            }
        }
        function frqkeyevent(e){
            key = e.key
            console.log(key)
            key = key.toLocaleUpperCase()
            console.log(key)
            console.log(key.charCodeAt(), key.length, key.length == 1)
            if(48 <= key.charCodeAt(0) && key.charCodeAt(0) <= 57 && frqindex <= 6 && key.length == 1){
                $("frqdisplay" + frqindex).innerHTML = key
                frqindex += 1
            }else if(key == "BACKSPACE" && frqindex > 1) {
                $("frqdisplay" + (frqindex-1)).innerHTML = "_"
                frqindex -= 1
            }else if(key == "BACKSPACE" && frqindex <= 1){
                decrementfocus()
            }else{
                return
            }
        }
        function incrementfocus(){
            focusindex += 1
            updatefocus()
        }
        function decrementfocus(){
            focusindex -= 1
            updatefocus()
        }
        function updatefocus(){
            switch(focusindex){
                case 0:
                    $("csfocus").innerHTML = `<div class="singledisplay">></div>`
                    $("frqfocus").innerHTML = `<div class="singledisplaysmall">TAB to move focus forward, ENTER to finish field</div>`
                    break
                case 1:
                    $("csfocus").innerHTML = `<div class="singledisplaysmall">TAB to move focus forward, ENTER to finish field</div>`
                    $("frqfocus").innerHTML = `<div class="singledisplay">></div>`
                    break
            }
        }
    </script>
</body>
</html>
