<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpeedLog - Auth Error</title>
    <style>
        * {
            font-family: sans-serif;
        }
        .backlink {
            background-color: #777;
            border-radius: 0;
            border: none;
            padding: 1vmin;
            color: #ddd;
        }
        .backlink:hover {
            background-color: #555;
        }
        input {
            font-size: larger;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Authentication Error</h1>
    <p>It seems that you don't have permission to use this instance of SpeedLog. Wanna host your own? Check out the <a href="https://github.com/TheTridentGuy/SpeedLog">SpeedLog Github</a>.</p>
    <a href="/login" class="backlink">Try Again</a>
    <a href="/about" class="backlink">About SpeedLog</a>
</body>
</html>